body {
  background-color: #a15721;
  color: #decdbf;
}
.saturs {
  position: relative;
  z-index: 1;
}
#kaajene,
#galva,
#sakums {
  text-align: center;
}
p {
  font-size: larger;
}
.jautajums,
.rezultats {
  display: flex;
  justify-content: center;
}
.atbildes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.jautajums > div,
.rezultats > div {
  background-color: #a15721;
  width: 97%;
  margin: 10px;
  text-align: center;
  line-height: 35px;
  font-size: 30px;
}
.atbildes > div {
  background-color: #a15721;
  width: 48%;
  margin: 10px;
  text-align: center;
  line-height: 35px;
  font-size: 30px;
}
.poga {
  background-color: #decdbf;
  font-size: 24px;
  padding: 32px 10px;
  border: none;
  color: #a15721;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 4px;
  cursor: pointer;
  width: 97%;
  border: 2px solid #decdbf;
}
.poga:hover {
  background-color: #a15721;
  color: #decdbf;
  border: 2px solid #decdbf;
}
.preloader {
  align-items: center;
  background: rgb(23, 22, 22);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  width: 100%;
}
.behind {
  z-index: -1;
}
.front {
  z-index: 9999;
}
