body {
  background-color: #a15721;
  color: #decdbf;
}
#kaajene {
  text-align: center;
}
#galva {
  text-align: center;
}
#sakums {
  text-align: center;
}
p {
  font-size: larger;
}
.jautajums {
  display: flex;
  background-color: #decdbf;
  justify-content: center;
}
.atbildes {
  display: flex;
  flex-flow: row wrap;
  background-color: #decdbf;
  justify-content: center;
}
.jautajums > div {
  background-color: #a15721;
  width: 97%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.atbildes > div {
  background-color: #a15721;
  width: 48%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.poga {
  background-color: #decdbf;
  font-size: 24px;
  padding: 32px 32px;
  border: none;
  color: #a15721;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}
.poga:hover {
  background-color: #a15721;
  color: #decdbf;
  border: 2px solid #decdbf;
}
